* {
  box-sizing: border-box;
}

.container-homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10vh;
  margin-right: 10vh;
}

.inventory-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10vh;
}

.item-tile {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 30vh;
  text-align: center;
  margin: 5vh 10vh;
}

.item-tile h4 {
  margin-bottom: 5px;
}

.item-tile h5 {
  margin-bottom: 8px;
  margin-top: 0px;
  font-style: italic;
  font-weight: bold;
}

.details {
  text-decoration: none;
}
