.outer-container-cart {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  text-align: center;
}

.order-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  width: 50%;
}

.individual-order {
  display: flex;
  margin: 1vh 1vh;
  padding: 1vh 1vh;
  height: fit-content;
  list-style-type: none;
}

.right-cart p {
  font-size: small;
  margin: 0px;
}

.right-cart h5 {
  margin-top: 0vh;
  margin-bottom: 0.5vh;
}

.cart {
  padding-top: 20vh;
  margin-top: 300px;
}
